<label>Server Name (using event handler)</label>
<input 
    type="text" 
    class="form-control" 
    (input)="onUpdateServerName($event)">

<label>Server Name (using two-way binding)</label>
<input 
    type="text" 
    class="form-control" 
    [(ngModel)]="serverName">

<button 
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()">Add Server</button>

<p>Allow to create new server: {{ allowNewServer }}</p>

<!--<p [innerText]="allowNewServer"></p>-->

<!--<p>{{ serverName }}</p>-->

<!--<p>{{ serverCreationStatus }}</p>-->

<p *ngIf="serverCreated; else noServer">{{ serverCreationStatus }}</p>
<ng-template #noServer>
    <p>No server was created!</p>
</ng-template>

<app-server *ngFor="let server of servers"></app-server>

<hr>

<app-user-registration></app-user-registration>

<hr>

<app-logger></app-logger>