<label>Server Name</label>
<input 
    type="text" 
    class="form-control" 
    (input)="onUpdateServerName($event)">

<input 
    type="text" 
    class="form-control" 
    [(ngModel)]="serverName">

<button 
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()">Add Server</button>

<p>Allow to create new server: {{ allowNewServer }}</p>

<!--<p [innerText]="allowNewServer"></p>-->

<!--<p>{{ serverName }}</p>-->

<!--<p>{{ serverCreationStatus }}</p>-->

<p *ngIf="serverCreated">{{ serverCreationStatus }}</p>

<app-server></app-server>
<app-server></app-server>

<hr>

<app-user-registration></app-user-registration>